.App {
  background-color: white !important;
}


.feature {
  padding-left: 10px;
  font-size: large;
  padding-top: 5px;
}

.input-field {
  font-size: large;
  margin: 0 10px;
  width: 500px;
  border-radius: 50px;
}

.banner {
  background-color: white;
  width: 35%;
  position: absolute;
  height: 250px;
  top: 20%;
  left: 10%;
  padding-left: 10px;
}

.banner p {
  font-size: 18px;
}

.banner2 {
  width: 95%;
  background-color: gainsboro;
}

.react-border {
  border: 2px solid black;
  border-radius: 10px;
  width: 95%;
}

.btn-border {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.bt-border {
  border: none;
  background-color: white;
}

.showtab-position {
  position: absolute;
  top: 10%;
  background-color: red;
  /* display: block; */
}

.none {
  display: none;
}

.img-width {
  width: 10%;
}

.border-goal {
  border: 2px solid black;
  border-radius: 50px;
  height: 400px;
}

.circle {
  padding: 10px;
  background-color: gray;
  color: white;
  border-radius: 50%;
}


.gallery {
  width: 900px;
  display: flex;
  overflow-x: scroll;
}

.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 20px;
  flex: none;
}

.gallery div .img {
  width: 100%;
  /* filter: grayscale(100%); */
  transition: transform 0.5s;
}

body::-webkit-scrollbar {
  display: none;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery-warp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}

#backBtn,
#nextBtn {
  width: 50px;
  cursor: pointer;
  margin: 40px;
}

.gallery div .img:hover {
  /* filter: grayscale(0); */
  cursor: pointer;
  transform: scale(1.1);
}

.top-catagery {
  margin: 20px;
  width: auto;
  max-width: 100%;
  transition: 0.5s all;
}

.top-catagery:hover {
  transform: scale(1.2);
  zoom: 1;
}

.top {
  width: 100%;
  /* background-color: red; */
}

.detail {
  width: 40%;
  border-radius: 50%;
}

.detail-text {
  width: 60%;
  font-size: medium;
}

.detail-img {
  width: 40%;
  text-align: center;
  font-size: small;
}

.w-65 {
  width: 65%;
}

.w-30 {
  width: 30%;
}




/* about */
.name {
  width: 43%;
  margin: 30px 0px 20px 20px;
  height: 40px;
}

.email {
  width: 90%;
  margin: 10px 0px 20px 20px;
  height: 40px;
}

.No {
  width: 90%;
  margin: 10px 0px 20px 20px;
  height: 40px;
}

.select1 {
  width: 90%;
  margin: 10px 0px 20px 20px;
  height: 40px;
}

.company-name {
  width: 90%;
  margin: 10px 0px 20px 20px;
  height: 40px;
}

.select2 {
  width: 43%;
  margin: 30px 0px 20px 20px;
  height: 40px;
}
.organization{
  width: 90%;
  margin: 10px 0px 20px 20px;
  height: 90px;
}




/* teachudemy */

.teaching{
  width: 25%;
  margin-left: 10px;
  text-align: center;
}
.bg-purpule{
  background-color: #5624d0;
}
.info{
  width: 17%;
  color: white;
  text-align: center;
  margin: 2rem 0px 1rem 0px;
}
.react-tech{
  width: 60%;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 30px 0px 10px 20px;
}
.Categories{
  background-color: black;
  color: white;
  height: 33px;
  padding-top: 2px;
  /* display: none; */
}
.border-nav{
  letter-spacing: 3px;
}
.border-nav:hover{
  -webkit-text-stroke: 1px whitesmoke;
  border: 2px solid white;
}